html {
    height: 100vh;
    font-family: Baloo;
    letter-spacing: 2px;
}

body {
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(purple, #FFF);
}

h2 {
    text-align: center;
    color: white;
}

button {
    font-family: Baloo;
    letter-spacing: px;
    background: white;
    color: black;
    border: none;
    float: center;
    display: inline-flex;
    text-align: center;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 5px;
}

.buttons-wrapper {
    
    text-align: center;
    margin: 10px 0 40px;
}